<div class="user-regist">
  <h2 class="user-regist__title">Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="user-regist__gender field">
      <%= f.radio_button :gender, :male, class: 'with-gap' %>
      <%= f.label :gender, :male, class: 'gender-label' %>
      <%= f.radio_button :gender, :female, class: 'with-gap' %>
      <%= f.label :gender, :female, class: 'gender-label' %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "user-regist__submit waves-effect waves-light btn-small" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
